 
@media(width<550px){
  
    .content__Modal img{
        border-radius: 5px;
        align-items: center;
    }
    .transition-modal-description{
        background-color: #464242;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        padding-bottom: 15px;
    }
    /* .transition-modal-title{
    
    } */
    .titletagline{
    margin: 7px 0px;
    }
}