.header{
width: 100%;
cursor: pointer;
position: fixed;
background-color: #A8A8A8;
display: flex;
justify-content: center;
align-items: center;
color:white;
font-size: 5vw;
text-transform:uppercase;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
z-index: 100;
padding-bottom: 10px;
font-family: 'Montserrat', sans-serif;
}
@media(max-width:1000px){
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
}