*{
scroll-behavior: smooth;
}
.app{
  min-height: 100vh;
  /* background-color: bisque; */
  background-color: #706b6b;
  color: white;
  padding-top: 110px;
}

@media(max-width:700px){
.app{
  padding-top: 70px;
  
}
}
